<div class="row">
    <!--<video style="position: absolute;" muted autoplay poster="{{user.thumbnail}}" ng-src="{{user.stream}}" height="{{height}}" width="{{width}}"></video>-->
    <div class="col-md-12 col-xs-12">
        <div class="panel panel-default">
            <!--<div class="panel-heading">Xavier Lagunas Calpe</div>-->
            <div class="panel-body">
                <video class="local-video" muted autoplay poster="{{user.thumbnail}}" ng-src="{{user.stream}}"></video>
            </div>
        </div>
    </div>
</div>