
<div class="text-center">
<video ng-hide="reload" autoplay ng-src="{{stream}}" height="{{height}}" width="{{width}}"></video>
<canvas ng-show="reload" height="{{height}}" width="{{width}}"></canvas>
    <div class="row text-center">
        <button ng-hide="reload" class="btn btn-default" ng-click="pause()">
            <i class="fa fa-camera"></i>
        </button>
        <button ng-show="reload" class="btn btn-default" ng-click="resume()">
            <i class="fa fa-refresh fa-spin"></i>
        </button>
        or
        <span class="btn btn-default">
                <input type="file" fileread>
        </span>
    </div>
</div>
