<md-dialog aria-label="Calendar date" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{message}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="userForm">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Event title</label>
                    <input ng-model="newEvent.title" ng-disabled="!isNew">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Share event with contacts:</label>
                    <input ng-model="contact" typeahead="username as user.username for user in contacts | filter:$viewValue" typeahead-on-select="addUser($item, $model, $label)">
                </md-input-container>

            </div>
            <div layout-gt-sm="row">
                <ul id="selected" class="list-group">
                    <li ng-repeat="user in selectedContacts">
                        <p>{{user.name}} {{user.firstSurname}} {{user.lastSurname}}
                            <md-button ng-hide="selfUser.id === user.id" ng-click="removeUser(user)"><md-icon md-font-icon="fa fa-times-circle"></md-icon></md-button>
                        </p>
                    </li>
                </ul>
            </div>
            <div layout-gt-sm="row">
                <md-datepicker ng-model="newEvent.start" md-placeholder="Enter date"
                               md-open-on-focus ng-disabled="!isNew"></md-datepicker>
            </div>
            <div class="form-group col-md-12" ng-show="!isNew">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Total participants: </label>
                    <input id="totalUsers" ng-model="newEvent.users.length" disabled>
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-warn" ng-click="delete()" ng-show="!isNew">Delete</md-button>
        <md-button ng-click="dismiss()" ng-show="!isNew">Return</md-button>
        <md-button ng-click="dismiss()" ng-show="isNew">Cancel</md-button>
        <md-button class="md-primary" ng-click="save()" ng-show="isNew">Submit</md-button>
    </md-dialog-actions>
</md-dialog>
