<md-dialog aria-label="Call Confirmation" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Call Confirmation</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <p>Do you really want to issue a call to {{user.name}} {{user.firstSurname}} {{user.lastSurname}}?</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="answer('useful')">
            <md-icon md-font-icon="fa fa-phone"></md-icon>
        </md-button>
    </md-dialog-actions>
</md-dialog>