<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="main.landing">ConfApp</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="shareDesktop()"><i class="fa fa-desktop"/> Share Desktop</span></a></li>
                        <li><a href="" ng-click="shareVideo()"><i class="fa fa-video-camera"/>  Share Video</span></a></li>
                        <li><a href="" ng-click="shareVideo()" ><i class="fa fa-comments"/>  Chat View </span></a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="toggleSideBar('contacts')"><i class="fa fa-users"/>  Show/Hide Contacts</span></a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="exitConference()"><i class="fa fa-sign-out"/>  Exit Conference</span></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><img ng-src="{{userSession.thumbnail}}" height="50px"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{userSession.username}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit user info<i class="pull-right fa fa-edit"></i></a></li>
                        <li ng-click="toggleSideBar('contacts')"><a ng-click="toggleContacts()">Show contacts<i class="pull-right fa fa-users"></i></a></li>
                        <li class="divider"></li>
                        <li><a href="#">Log Out <i class="pull-right fa fa-sign-out"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid col-md-12" on-drop-file="onDropFile(file)" drop>
    <div class="col-md-3 col-xs-3">
        <local-video on-success="onSuccess" on-error="onError()" user="localSpeaker"></local-video>
    </div>
    <div ng-class="(speakers.length > 1) ? 'col-md-4 col-xs-4' : 'col-md-9 col-xs-9'" ng-repeat="speaker in speakers">
        <remote-video user="speaker" conference="{{conference.id}}" on-close="closeStream" on-message-received="rcvMessage(message)"></remote-video>
    </div>
</div>
<chat user="localSpeaker" messages="chatMessages" on-new-message="sendMessage(message)"></chat>
