<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-4" style="text-align:center;">-->
            <!--<div class="row">-->
                <!--<img class="img-thumbnail" width="140px" ng-src="{{user.thumbnail}}">-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<button class="btn btn-default" ng-click="createRoom('VIDEO')"><i class="fa fa-video-camera"></i></button>-->
                <!--<button class="btn btn-default" ng-click="createRoom('AUDIO')"><i class="fa fa-volume-up"></i></button>-->
                <!--<button class="btn btn-default" ng-click="toggleMessagePanel()"><i class="fa fa-envelope"></i></button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-8">-->
            <!--<h3><p class="lead">{{user.name}} {{user.firstSurname}} {{user.lastSurname}}</p></h3>-->
            <!--({{user.username}})-->

            <!--<button class="btn btn-default">-->
                <!--<i class="fa fa-circle-o text-right" ng-class="(contact.status | lowercase) || 'offline'"></i>-->
                 <!--{{user.status | lowercase}}-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="container">
    <div class="col-md-6">
        <img ng-src="{{user.thumbnail}}">
    </div>
    <div class="col-md-6 text-center">
        <div class="row">
            <h4>User information</h4>
        </div>
        <div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="userInfo" class="col-sm-4 control-label">User name: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="userInfo" readonly value="{{user.name}}  {{user.firstSurname}} {{user.lastSurname}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-4 control-label">Username: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="username" readonly value="{{user.username}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-sm-4 control-label">Status: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="status" readonly value="{{user.status | lowercase}}">
                    </div>
                </div>


                <hr>
                <div class="form-group">
                    <label for="actions" class="col-sm-4 control-label">Actions: </label>
                    <div class="col-sm-8" id="actions">
                        <button class="btn btn-default" ng-click="createRoom('VIDEO')"><i class="fa fa-video-camera"></i></button>
                        <button class="btn btn-default" ng-click="createRoom('AUDIO')"><i class="fa fa-volume-up"></i></button>
                        <button class="btn btn-default" ng-click="toggleMessagePanel()"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>