<div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{user.name}}  {{user.firstSurname}} {{user.lastSurname}}</span>
                <span class="md-subhead">{{user.username}} ({{(user.status | lowercase) || 'offline'}})</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"><img ng-src="images/{{user.thumbnail}}"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-disabled="user.status == 'OFFLINE' || !user || !user.status" ng-click="callConfirmation()">
                <md-icon md-font-icon="fa fa-video-camera"></md-icon>
            </md-button>
            <md-button ng-disabled="user.status == 'OFFLINE' || !user || !user.status" ng-click="createRoom('AUDIO')">
                <md-icon md-font-icon="fa fa-volume-up"></md-icon>
            </md-button>
            <md-button ng-disabled="user.status == 'OFFLINE' || !user || !user.status" ng-click="createEvent()">
                <md-icon md-font-icon="fa fa-calendar"></md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</div>