<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ui-sref="main.secondary">Home</a></li>
    <li><a ui-sref="main.contact">Contact</a></li>
  </ul>
  <h3 class="text-muted">angularClient</h3>
</div>

<!--<div class="col-md-12 text-center" size>-->
    <!--{{elementSize.width}} {{elementSize.height}}-->
    <!--<h5>Welcome back {{userSession.name}}</h5>-->
<!--</div>-->

<!--<div class="col-md-6">-->
    <!--<div ng-show="displayEvents && displayEvents.size >0" class="pull-left">-->
        <!--<span class="text-center">You have {{displayEvents.size}} appointments for today</span>-->
        <!--<ul class="list-unstyled">-->
            <!--<li ng-repeat="event in displayEvents">{{event.title}}</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div ng-hide="displayEvents && displayEvents.size >0" class="pull-left">-->
        <!--<span>You don't have any appointments today</span>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="col-md-6 class="text-center="">-->
    <!--<div>-->
        <!--<span>Call log</span>-->
    <!--</div>-->
    <!--<donut></donut>-->
<!--</div>-->
