<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="main.landing"><img src="/images/icon.png" width="30px"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href=""><i class="fa fa-desktop"/> Share Desktop</a></li>
                        <li><a href=""><i class="fa fa-video-camera"/>  Share Video</a></li>
                        <li><a href="" ><i class="fa fa-comments"/>  Chat View</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="toggleSideBar('contacts')"><i class="fa fa-users"/>  Show/Hide Contacts</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="exitConference()"><i class="fa fa-sign-out"/>  Exit Conference</a></li>
                    </ul>
                </li>
                <li><a ui-sref="main.landing"><i class="fa fa-home fa-2x icon-color"></i></a></li>
                <li><a ui-sref="main.calendar"><i class="fa fa-calendar fa-2x icon-color"></i></a></li>
                <li><a ui-sref="main.management"><i class="fa fa-users fa-2x icon-color" ng-class="{'update-color': userContacts.requested.length>0}"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><img ng-src="{{userSession.thumbnail}}" height="50px"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{userSession.username}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="#">Edit user info<i class="pull-right fa fa-edit"></i></a></li>-->
                        <li ng-click="toggleSideBar('contacts')"><a ng-click="toggleContacts()">Show contacts<i class="pull-right fa fa-users"></i></a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="logout()">Log Out <i class="pull-right fa fa-sign-out"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-md-2 col-lg-2 col-sm-2 col-xs-3" ng-hide="visibleColumns.contacts" style="height: 100%">
    <div ng-if="contactList.loaded" style="height: 100%">
        <div class="row">
            <div class="input-group col-md-12 col-lg-12 pull-right" style="padding-bottom: 10px;">
                <input type="text" class="form-control" ng-model="userTextBox.username" placeholder="Find by username">
                <span class="input-group-btn"><button class="btn btn-default" ng-click="findContacts()" type="button"><i class="fa fa-plus"></i></button></span>
            </div>
        </div>
        <ul class="list-group" style="height: calc(100% - 50px); overflow-y: auto">
            <contact-item contact="contact" ng-repeat="contact in userContacts.accepted | filter: userTextBox"></contact-item>
        </ul>
    </div>

    <div ng-if="contactList.loaded == false">
        <div class="input-group list-icon-padding col-md-12 pull-right text-center">
            <h4 class="list-group-item-heading"><i class="fa fa-refresh fa-spin fa-2x"></i></h4>
            <p class="list-group-item-text">Loading contacts, please wait...</p>
        </div>
    </div>
</div>
<div ng-class="mainContentSizeClass.value" >
    <div class="" ui-view></div>
</div>


