<h2 class="text-center">Contacts</h2>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <span> Select the type of contacts you want to see from the dropdown button</span>
        <div class="pull-right">
            <span class="label label-default" hover="label-primary">Accepted</span>
            <span class="label label-default" hover="label-success">Requested </span>
            <span class="label label-default" hover="label-warning">Pending</span>
            <span class="label label-default" hover="label-danger">Blocked</span>
        </div>
    </div>
    <div class="panel-body">
        <div ng-repeat = "(status, users) in contactList">
            <div class="col-md-4 text-center" ng-repeat="user in users" style="padding-bottom: 30px;">
                <div class="col-md-8 col-md-offset-2">
                    <div style="position: absolute;top: 0;right: 0;">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-disabled="status == 'pending'">
                                <i class="fa fa-gears"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-show="status=='requested'"><a href="" ng-click="updateContact(user._id, 'requested','accepted')"><i class="fa fa-check pull-left online"/> <span><b>Accept</b></span></a></li>
                                <li ng-show="status=='requested'"><a href="" ng-click="updateContact(user._id, 'requested','deleted')"><i class="fa fa-times pull-left busy"/> <span><b>Reject</b></span></a></li>
                                <li ng-show="status == 'accepted'"><a href="" ng-click="updateContact(user._id, 'accepted','blocked')"><i class="fa fa-ban pull-left busy"/> <span><b>Lock</b></span></a></li>
                                <li ng-show="status == 'blocked'"><a href="" ng-click="updateContact(user._id, 'blocked','accepted')"><i class="fa fa-unlock-alt pull-left online"/> <span><b>Unlock</b></span></a></li>
                                <li ng-show="status == 'accepted'"><a href="" ng-click="updateContact(user._id, 'accepted','deleted')"><i class="fa fa-trash-o pull-left"/> <span><b>Delete</b></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="position: absolute;top: 0;left: 0;">
                        <span class="label" ng-class="status">{{status}}</span>
                    </div>
                    <div class="row">
                      <img ng-src="{{serverUrl}}/images/{{user.thumbnail}}" style="height: 88px;">
                    </div>
                    <div class="row">
                        <span>{{user.name}} {{user.firstSurname}} {{user.lastSurname}}</span>
                    </div>
                    <div class="row">
                        <span>{{user.username}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
