<div>
    <p>This is the secondary view!</p>
    <a ui-sref="main.landing">Landing!</a>
    <!--<button ng-click="createEvent()"> Crear event!</button>-->
    <!--<photo width="640px" height="480px"></photo>-->
    <div class="form-group col-md-12">
        <label for="title" class="col-md-5 control-label">Event title: </label>
        <div class="col-md-7">
            <input id="title" class="form-control" type="text" ng-model="event.title" placeholder="Event title">
        </div>
    </div>
    <div class="form-group col-md-6">
        <label for="start" class="col-md-6 control-label">Start date: </label>
        <div class="col-md-6">
            <input  id="start" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="event.start" min="minDate"  is-open="true" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        </div>
    </div>
    <div class="form-group col-md-6">
        <label for="endCheckbox" class="col-md-6 control-label">Last several days: </label>
        <div class="col-md-6">
            <input id="endCheckbox" type="checkbox" ng-model="hasEndDate" ng-init="hasEndDate=false">
        </div>
    </div>
    <div ng-show="hasEndDate" class="form-group col-md-12">
        <label for="end" class="col-md-5 control-label">Event title: </label>
        <div class="col-md-7">
            <input  id="end" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="event.end" min="minDate"  is-open="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        </div>
    </div>

</div>
